<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheGuysofeFootball</title>
    <link href="/dist/style.css" rel="stylesheet" />
  </head>
  <body class="min-h-screen flex flex-col">
    <%- include('partials/nav') %>

    <main class="flex-1">
      <!-- Hero Section -->
      <%- include('components/hero.ejs') %>

      <!-- Features Section -->
      <%- include('components/features.ejs') %>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
